services:
  web:
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn TankYou.wsgi:application --bind 0.0.0.0:8000
      "
    environment:
      DEBUG: "False"
    ports:
      - "8000:8000"
    restart: always

  db:
    restart: always
