services:
  web:
    build: .
    command: >
      sh -c "
      python manage.py migrate &&
      gunicorn TankYou.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - ./TankYouProj:/code
    environment:
      DJANGO_SETTINGS_MODULE: TankYou.settings
      POSTGRES_DB: dragosDB
      POSTGRES_USER: dragos
      POSTGRES_PASSWORD: 123
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: dragosDB
      POSTGRES_USER: dragos
      POSTGRES_PASSWORD: 123
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web

volumes:
  postgres_data:

